body{
	font-family: 'Helvetica';
	text-align: center;
}
.container{
	width: 70%;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: justify;
	margin: 0 auto;
}
.container h2{
	text-align: center;
	font-size: 25px;
	color: orange;
}

.container p{
	font-family: Courier;	
}