body{
	font-family: 'Helvetica';
	text-align: center;
	background: #00000020;
}
.cabecera{
	background-color: #000000;
	border-radius: 10px;
	padding: 20px;
	color: white;
	font-size: 18px;
	box-shadow: 7px 7px 30px orange;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.cabecera img{
	width: 70px;
}
.container{
	width: 70%;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: justify;
	margin: 0 auto;
	background: white;
}
.container h2{
	text-align: center;
	font-size: 25px;
	color: orange;
}

.container p{
	font-family: Courier;	
}

.footer {
	background: rgb(251,251,251);
	margin-top: 10px;
	background: linear-gradient(90deg, rgba(251,251,251,1) 0%, rgba(251,174,30,1) 49%, rgba(251,251,251,1) 100%);
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 25px;
}